body {
    margin: 0;
}

main {
    display: block;
}

.contenedor-principal {
    margin: 0 auto;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    border: 5px solid #FF0000;
    box-sizing: border-box;
}

.contenedor-contactos {
    margin: 0 auto;
    width: 432px;
    height: 1014px;
    background: #FFFFFF;
    border: 5px solid #5DFF11;
    float: left;
    box-sizing: border-box;
}

.header-contactos {
    margin: 0 auto;
    width: 422px;
    height: 225px;
    background: #FFFFFF;
    border: 5px solid #2400FF;
    box-sizing: border-box;
}

.seccion-contactos{
    margin: 0 auto;
    width: 422px;
    height: 779px;
    background: #FFFFFF;
    border: 5px solid #FBFF3E;
    box-sizing: border-box;
}

.contactos {
    margin: 0 auto;
    width: 411px;
    height: 143px;
    background: #FFFFFF;
    border: 5px solid #2EFFFF;
    box-sizing: border-box;
}

.contenedor-informacion {
    margin: 0 auto;
    width: 998px;
    height: 1014px;
    background: #FFFFFF;
    border: 5px solid #E01FFF;
    box-sizing: border-box;
    float: right;
}

.header-principal {
    margin: 0 auto;
    width: 988px;
    height: 225px;
    background: #FFFFFF;
    border: 5px solid #2400FF;
    box-sizing: border-box;
}

.contenedor-central {
    margin: 0 auto;
    width: 988px;
    height: 779px;
    background: #FFFFFF;
    border: 5px solid #00F0FF;
    box-sizing: border-box;
}

.informacion-central {
    margin: 0 auto;
    width: 978px;
    height: 623px;
    background: #FFFFFF;
    border: 5px solid #717171;
    box-sizing: border-box;
}